@import "meyerweb.css";

/* ***************************** START PAGE STYLING *********************** */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E8E8E8; /* 7.22 contrast ratio @ mobile */
    color: #0F4C81; /* 2020 PANTONE 19-4052 Classic Blue */
    font-family: Lato, Helvetica, sans-serif;
    margin: 0 auto;
}

#wrapper {
    margin: 0 auto;
    width: 360px;
}

/* Flex Elements */
body, wrapper, header, .logo, .searchBar, #mainMenu, .mainLinks, main, #cardsWrapper, .card, #toTop, footer, .hamburger, .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Column Flex */
#wrapper, .mainLinks, #toTop, main, #cardsWrapper, .card, footer, .hamburger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header, footer {
    background-color: #BEBEBE; /* 4.76 contrast @ mobile */
}

/* HEADER */
header {
    height: 60px;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

/* LOGO */
.logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.logo > a {
    padding: 0 10px;
}


/*Search Bar*/
.searchBar {
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: center;
    margin: 0 20px 0 0;
}

label {
    display: none;
}

input[name="search"] {
    background: transparent;
    border: none;
    border-bottom: 1.2px solid #000;
    caret-color: #000;
    height: 25px;
    width: 165px;
    -webkit-transition: width .35s;
    transition: width .35s;
}

input[name="search"]:focus{
    width: 175px;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

::placeholder {
    text-align: center;
    font-weight: 600;
}

.srcBtn {
    background-color: transparent;
    border: none;
    margin: 0 0 3px -15px;
    padding: 4px;
}

/* MAIN NAV */
#mainMenu {
    background-color: #404040;
    width: 100vw;
    position: fixed;
    top: 60px;
    bottom: 129px;
    display: none;
    padding-top: 100px;
    height: 100vh;
}

.mainLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    list-style: none;
}

.mainLinks li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mainLinks a {
    color: #fff;
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
}

.home {
    margin-left: 10%;
}

.portfolio {
    margin-left: 25%;
}

.contact { 
    margin-left: 50%;
}

/* MAIN */
main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 60px 0 127px;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0 0 0;
}

.title {
    margin: 5px auto 0;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.mainPic {
    margin: 15px 0 10px;
    padding: 0 20px;
    width: 100%;
    height: auto;
}

main > p {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

main > ul {
    margin: 10px auto 60px;
    list-style: square;
}

main > ul > li {
    line-height: 1.3;
    margin: 5px 10px 5px 35px;
}

/* CARDS */
.card {
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(209,207,209,0.5);
    box-shadow: 10px 10px 5px 0px rgba(209,207,209,0.5);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card > a:first-child {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0 0 0;
    -ms-flex-item-align: center;
    align-self: center;
}

.card > h2 {
    font-size: 16px;
    margin: 16px 0 10px 0;
    font-weight: 700;
}

.card > ul {
    -ms-flex-item-align: start;
    align-self: center;
    list-style-type: square;
    margin-left: 40px;
}

.card > ul > li {
    padding: 3px;
}

.card > a:last-child {
    -webkit-text-decoration-color: #00e;
    text-decoration-color: #00e;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 4px 10px 0 0;
    margin-top: auto; /* keeps the link @ bottom of card */

}

/* To Top */
#toTop {
    position: fixed;
    bottom: 135px;
    left: 10px;
    background-color: #BEBEBE;
    font-weight: 700;
    padding: 4px;
    border-radius: 8px;
    visibility: hidden;
}

/* FOOTER */
footer {
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 112px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hamburger {
    height: 32px;
    width: 32px;
    margin: 0 15px 0 28px;
    border: 1px solid #000;
    border-radius: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 8px;
    font-weight: 500;
    padding: 2px 0 0 0;
    font-weight: 700;
}

.social {
    list-style: none;
    height: 29px;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.social > li {
    margin: 0 8px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
}

footer > .logo {
    width: 60px;
    height: 50px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 2;
}

.copyRight {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

/* PORTFOLIO PAGE */
h3 {
    font-weight: 600;
    margin: 12px 0 0;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 375px) {
    #wrapper {
        width: 375px;
    }
}

@media only screen and (min-width: 425px) {
    #wrapper {
        width: 425px;
    }
}

/* TABLET SIZE */
@media only screen and (min-width: 768px) {
    #wrapper {
        width: 768px;
    }
    #mainMenu {
        background-color: #BEBEBE;
        z-index: 0;
        height: 60px;
        position: static;
        top: 0;
        display: block;
        padding: 0;
    }
    .mainLinks {
        height: 60px;
        padding: 0;
        margin: 0 16px 0 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .mainLinks li {
        margin: 0;
    }
    .mainLinks a {
        font-weight: 500;
        padding: 8px 10px;
        color: black;
        font-size: 14px;        
    }
    .mainLinks a:active {
        color: #e00;
    }
    .searchBar {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        padding: 0 30px 0 0;
    }
    input[name="search"]:focus{
        width: 165px;
    }
    .mainPic {
        height: 325px;
        padding: 0 30px;
    }
    main > ul > li {
    margin: 5px 10px 5px 45px;
    }
    
    #cardsWrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .card {
        width: 50%;
    }
    #card3 {
        display: none;
    }
    #toTop {
        right: 10px;
        left: auto; /* clears the placement of the button on the left side */
    }
    /* FOOTER */
    footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .hamburger {
        display: none;
    }
    footer > .logo {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .social {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-right: 50px;
    }
}


/* LAPTOP SIZE */
@media only screen and (min-width: 1024px) {
    body, #wrapper, header, footer {
        width: 1024px;
    }
    body {
        background-color: #DCDCDC;
         margin: 0 auto;
    }
    #wrapper {
        background-color: #F8F8F8; /* 8.33 contrast ratio @ laptop */
    }
    header, footer {
        background-color: #E8E8E8; /* 7.22 contrast @ laptop */
        position: static;
    }
    #mainMenu {
        background-color: #E8E8E8; /* 7.22 contrast @ laptop */
    }
    .mainLinks {
        margin: 0 16px 0 375px;
    }
    .mainLinks a {
        font-size: 16px;
    }
    .mainLinks a:hover {
        color: #00e;
        font-weight: 500;
        text-decoration: underline;
        -webkit-text-decoration-color: #00e;
        text-decoration-color: #00e;
    }
    .srcBtn:hover {
        cursor: pointer;
        color: green;
        background-color: #D3D3D3;
        border-radius: 5px;
    }
    main {
        margin: 0;
    }
    .card {
        width: 33%;
    }
    #card3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .card >a:first-child {
        opacity: .8;
    }
    .card >a:first-child:hover {
        opacity: 1;
    }
    .card > a:hover {
        color: #00e;
        font-weight: 500;
    }
    #toTop {
        right: 30px;
    }
    #toTop:hover {
        cursor: pointer;
        background-color:#0c0;
        color: #fff;
    }
    .fa-github:hover {
        color:#040204;
    }
    .fa-linkedin:hover {
        color:#04669A;
    }
}

@media only screen and (min-width: 1440px) {
    #wrapper {
        width: 1440px;
    }
    .mainLinks {
        margin-left: 375px;
    }
}